[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
jupyterlab = "*"
pandas = "*"
matplotlib = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
flask-testing = "*"
pytest = "*"
sphinx-rtd-theme = "*"
flask-cors = "*"
pyspark = "*"

[dev-packages]
pipdeptree = "*"
flask-testing = "*"
sphinx = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
