# .github/workflows/ci.yml
name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.11"

      - name: Install Pipenv
        run: |
          python -m pip install pipenv
          pipenv install --dev

      - name: Run tests
        run: |
          pipenv run pytest test/

      - name: Generate Documentation
        run: |
          # Replace with your actual documentation generation command make html
           sphinx-build -b html docs/ build/

      - name: Build Docker Image
        run: docker build -t contact-manager .

      - name: Publish Documentation
        if: success()  # Only publish if tests, documentation, and Docker image build are successful
        run: |
          # Replace with your actual command to publish documentation gh-pages -d _build/html

      - name: Push Docker Image
        run: |
          echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
          docker push your-image-name

